@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
}


body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

.swiper {
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 2rem auto;
}

.swiper-slide {
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
